<section *ngFor="let item of (_model.announcements$ | async)">
  <li>
    <strong>{{item.get('id')}} {{item.get('title')}}</strong>
      | {{item.get('body')}}
      <button type="button" (click)="removeAnnouncement(item)">Remove</button>
  </li>
</section>

<section>
  <input
    type="text" name="title"
    [(ngModel)]="newTitle">
  <textarea name="body" id=""
    cols="30" rows="10"
    [(ngModel)]="newBody"></textarea>
  <button type="button"
    (click)="addAnnouncement({title: newTitle, body: newBody})">Add</button>
</section>
