<section *ngFor="let item of (_model.announcements$ | async)">
  <li>
    <strong>{{item.get('id')}} {{item.get('title')}}</strong>
      | {{item.get('body')}}
      <button type="button" (click)="removeAnnouncement(item)">Remove</button>
  </li>
</section>

<section>
  <form #f="ngForm">
    <input
      type="text" name="title"
      #announcementTitle
      [(ngModel)]="titleInput">
    <textarea name="body"
      #announcementBody
      cols="30" rows="10"
      [(ngModel)]="bodyTextArea"></textarea>
    <button type="submit"
      (click)="addAnnouncement({
        title: titleInput,
        body: bodyTextArea
      })">Add</button>
  </form>
</section>
